# Import Required Liabrary

In [9]:
import flask
import pickle
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Working on Cleaned  and sorted data set

In [12]:
df = pd.read_csv(r"D:\Airline\dataset\final_data.csv")
df['satisfaction'] = df['satisfaction'].map({0:'Not Satisfied or Neutral',1:'Satisfied'})

In [13]:
df.drop(columns='Unnamed: 0',inplace=True)

In [14]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

# I Got Good Accuracy Score for Randaom Forest

In [7]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.9212734832152757

In [8]:
pickle.dump(rf,open('airline_pick.sav','wb'))

In [9]:
model = pickle.load(open('airline_pick.sav','rb'))

In [10]:
sample  = x_test.sample().values

In [11]:
sample

array([[ 5.        ,  5.        ,  5.        ,  5.        ,  8.23164218,
         5.        ,  0.        , 56.        ,  4.        ,  0.        ,
         4.        ]])

In [1]:
# model.predict(sample)

NameError: name 'x_test' is not defined

Baggage handling            int64
Checkin service             int64
Inflight entertainment      int64
On-board service            int64
Flight Distance           float64
Leg room service            int64
Type of Travel              int64
Age                         int64
Ease of Online booking      int64
Class                       int64
Online boarding             int64
dtype: object

In [ ]:
from flask import Flask, render_template, request
import pickle
import templates

app = Flask(__name__)
model = pickle.load(open('airline_pick.sav', 'rb'))


@app.route('/')
def home():
    result = ''
    return render_template('Air_index.html', **locals())


@app.route('/predict', methods=['POST', 'GET'])
def predict():
    Baggage_handling = float(request.form['Baggage_handling'])
    Checkin_service = float(request.form['Checkin_service'])
    Inflight_entertainment = float(request.form['Inflight_entertainment'])
    On_board_service = float(request.form['On_board_service'])
    Flight_Distance = float(request.form['Flight_Distance'])
    Leg_room_service = float(request.form['Leg_room_service'])
    Type_of_Travel = float(request.form['Type_of_Travel'])
    Age = float(request.form['Age'])
    Ease_of_Online_booking = float(request.form['Ease_of_Online_booking'])
    Class = float(request.form['Class'])
    Online_boarding = float(request.form['Online_boarding'])


    result = model.predict([[Baggage_handling, Checkin_service, Inflight_entertainment, On_board_service,
                             Flight_Distance, Leg_room_service, Type_of_Travel, Age, Ease_of_Online_booking,
                             Class,Online_boarding]])[0]

    return render_template('Air_index.html', **locals())


if __name__ == '__main__':
    app.run(host='0.0.0.0', port=8080)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.47.121:8080/ (Press CTRL+C to quit)
192.168.47.121 - - [28/Sep/2023 18:35:00] "GET / HTTP/1.1" 200 -
C:\Users\asus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
192.168.47.121 - - [28/Sep/2023 18:35:42] "POST /predict HTTP/1.1" 200 -

In [11]:
x

NameError: name 'x' is not defined

In [20]:
len(model.feature_names_in_)

11

In [19]:
len(x_test.columns)

11

In [21]:
model.feature_names_in_

array(['Baggage handling', 'Checkin service', 'Inflight entertainment',
       'On-board service', 'Flight Distance', 'Leg room service',
       'Type of Travel', 'Age', 'Ease of Online booking', 'Class',
       'Online boarding'], dtype=object)

In [28]:
df.iloc[69107]

Baggage handling                      5
Checkin service                       4
Inflight entertainment                1
On-board service                      2
Flight Distance                7.813996
Leg room service                      1
Type of Travel                        1
Age                                  70
Ease of Online booking                4
Class                                 1
Online boarding                       4
satisfaction              not satisfied
Name: 69107, dtype: object

In [5]:
df

,Unnamed: 0,Baggage handling,Checkin service,Inflight entertainment,On-board service,Flight Distance,Leg room service,Type of Travel,Age,Ease of Online booking,Class,Online boarding,satisfaction
0,0,4,4,5,4,6.131226,3,1,13,3,2,3,Not Satisfied or Neutral
1,1,3,1,1,1,5.459586,5,0,25,3,0,3,Not Satisfied or Neutral
2,2,4,4,5,4,7.040536,3,0,26,2,0,5,Satisfied
3,3,3,1,2,2,6.331502,5,0,25,5,0,2,Not Satisfied or Neutral
4,4,4,3,3,3,5.365976,4,0,61,3,0,5,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,4,2,2,3,5.257495,1,0,23,2,1,2,Not Satisfied or Neutral
103900,103900,5,5,5,5,7.760893,5,0,49,4,0,4,Satisfied
103901,103901,4,5,4,3,7.598399,2,0,30,1,0,1,Not Satisfied or Neutral
103902,103902,1,5,1,4,6.907755,5,0,22,1,1,1,Not Satisfied or Neutral
103903,103903,4,4,1,1,7.451822,1,0,27,3,0,1,Not Satisfied or Neutral

In [19]:
df[df['satisfaction'] == 'Satisfied']

,Baggage handling,Checkin service,Inflight entertainment,On-board service,Flight Distance,Leg room service,Type of Travel,Age,Ease of Online booking,Class,Online boarding,satisfaction
2,4,4,5,4,7.040536,3,0,26,2,0,5,Satisfied
4,4,3,3,3,5.365976,4,0,61,3,0,5,Satisfied
7,5,4,5,5,7.618251,5,0,52,4,0,5,Satisfied
13,2,2,4,4,6.852243,5,1,33,4,1,4,Satisfied
16,4,5,4,5,7.660585,3,0,26,3,0,4,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...
103890,3,4,3,3,6.309918,3,0,56,5,2,5,Satisfied
103891,4,5,4,4,7.596392,5,0,54,5,0,5,Satisfied
103894,4,3,5,3,6.568078,4,0,26,4,0,5,Satisfied
103897,4,4,4,4,7.377134,4,0,60,5,0,5,Satisfied
103900,5,5,5,5,7.760893,5,0,49,4,0,4,Satisfied